#section{
    background-color: antiquewhite;
}
#header1{
    color: blue
}
#header2{
    color:blue
}
#email{
    background-color: goldenrod;
}
#github{
    background-color: skyblue;
}
#portfolio{
    background-color: orange;
}
#image{
    border-radius: 5px;
}
#section2{
    background-color: antiquewhite;
}